<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title - My Finances</title>
</head>
<body>
    <div>
        <div>
            @Html.ActionLink( "Home", "Index", "Home" )
            @Html.ActionLink( "Login", "Index", "Login" )
        </div>
    </div>

    <div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Finances</p>
        </footer>
    </div>
</body>
</html>