@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>@ViewBag.Title - My Finances</title>
    <link rel="icon" href="~/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    @Styles.Render( "~/Css/main" )
    @Styles.Render( "~/Css/waves" )
    @Styles.Render( "~/Css/animate-css" )
    @Scripts.Render( "~/bundles/modernizr" )
</head>
<body class="login-page">
    <div class="login-box">
        <div class="logo">
            <a href="javascript:void(0);">Admin<b>BSB</b></a>
            <small>Admin BootStrap Based - My finances</small>
        </div>
        <div class="card">
            <div class="body">
                @RenderBody()
            </div>
        </div>
    </div>
    @Scripts.Render( "~/Scripts/jquery" )
    @Scripts.Render( "~/Scripts/bootstrap" )
    @Scripts.Render( "~/Scripts/waves" )
    @Scripts.Render( "~/Scripts/site" )
    @RenderSection( "scripts", required: false )
    <script src="js/pages/examples/sign-in.js"></script>
</body>
</html>